<h1 class="baslik">
<u>
En iyi 5 dayı listesi
</u>
</h1>


<br>
<ol class="liste">
<% 5.times do%>
    <li>Özgür Dayı</li>
<% end %>
</ol>
<br>

<%5.times do%>
<br>
<%end%>

<h1 class="birinci" >The best uncle in the world</h1>
<%= image_tag"dayı1.jpeg", class:"resim"%>
<h2e class="yazi"> Yukarıdaki adam çok iyi </h2>
<style>
.baslik {
    font-size:40px;
    color:red;
}
 body {
    background-color:lightyellow;
}
.liste {
    font-size:30px;
}
.resim {
  border-radius:20px;
}
.yazi{
  color:red;
}
</style>
